# Backend (Spring)
back/*         
!back/src/
back/src/main/resources/application.yml      

# Frontend (React/Vite)
front/node_modules/
front/dist/
front/vite.config.js
front/.env
front/eslint.config.js
front/package-lock.json
front/pakage.json
front/tsconfig.json
front/tsconfig.node.json

# IDE & OS
.idea/
.vscode/
*.iml
.DS_Store